body {
    background-color : AntiqueWhite ;
}

#app {
    display:flex;
    flex-wrap : wrap;
}

#questionnaires {
    flex:20%;
}

#selected {
    flex:80%;
}

#newQuestionnaire {
    flex:100%;
}

.selectedQuestionnaire {
    display:block;
    border : 1px solid red;
}