<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
</head>
<body>
<header>
    <span id="siteTitle">Questionnaires</span>
    <ul id="siteMenu">
        <li>Plop</li>
    </ul>

</header>
<div id="app">
    <section id="questionnaires">
        <ul id="questionnairesList">

            <questionnaire-listitem
                    v-for="(item, index) in questionnaires"
                    v-bind:key="item.id"
                    v-bind:id="item.id"
                    v-bind:title="item.title"
                    v-bind:selected="item===selected"
            >
            </questionnaire-listitem>

        </ul>
    </section>
    <section id="selected" v-if="selected !== null">
        <article id="introduction">
            <div class="formField">
                <label>Id</label>
                <span id="selectedQuestionnaireId">{{selected.id}}</span>
            </div>
            <div class="formField">
                <label>Titre</label>
                <span>{{selected.title}}</span>
            </div>
        </article>
        <article id="questions">
        <ul>
            <li v-for="(item, index) in selected.questions">
                {{index}} - {{item.wording}} - {{item.nbLines}}
            </li>
        </ul>
        </article>
        <article id="newQuestion">
            <textarea type="text" id="wording" placeholder="Wording"></textarea>
            <input type="number" id="nbLines" placeholder="Number of lines">
            <span class="action" onclick="createQuestion()">Ajouter la question</span>
        </article>
    </section>
    <section id="newQuestionnaire">
        <input type="text" id="title" placeholder="title">
        <span class="action" onclick="createQuestionnaire()">Créer un questionnaire</span>
    </section>
</div>
<footer>

</footer>
</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/components/questionnaireListItemComponent.js"></script>
<script src="/static/js/questionnaire-model.js"></script>
</html>